.pixel-ruler {
  position: fixed;
}

.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  transform: translate(-70%, -50%);
  border-radius: 50%;
  z-index: 1001;
  background-color: silver;
  user-select: none;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.pixel-counter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  color: silver;
}
